html 
	head
		title= title
		link(rel='stylesheet', href='bootstrap-3.3.7-dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='bootstrap-3.3.7-dist/css/bootstrap-theme.min.css')
	body
		.container
			.col-md-4
			.col-md-4
				h1 Please Login
				br
				form.form-signin(menthod='post',action='/login', id='loginForm', style='')
					.form-group
						input(class='form-control', id='email', type='email', name='email', placeholder='Please Enter Your Email Address', required)
					.form-group
						input(class='form-control', id='password', type='password', name='password', placeholder='Please Enter Your Password', required)
					input(class='btn btn-default btn-block' type='submit' value='Login')
			.col-md-4