html 
	head
		title= title
		link(rel='stylesheet', href='bootstrap-3.3.7-dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='bootstrap-3.3.7-dist/css/bootstrap-theme.min.css')
	body
		.container
			.col-md-4
			.col-md-4
				h1 Register
				br
				form.form-signin(menthod='post',action='/register', id='registerForm', style='')
					.form-group
						label(for='email') Email Address:
						input(class='form-control', id='email', type='email', name='email', placeholder='Please Enter Your Email Address', required)
					.form-group
						label(for='password') Password:
						input(class='form-control', id='password', type='password', name='password', placeholder='Please Enter Your Password', required)
					input(class='btn btn-default btn-block' type='submit' value='Sign Up')
			.col-md-4